@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  font-size: 1.5rem;
  font-weight: 700;
  background: linear-gradient(90deg,
      #00f5ff,
      #7c3aed,
      #ec4899,
      #22c55e,
      #00f5ff);
  background-size: 300%;
  background-position: 0% center;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: gradientMove 10s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% center;
  }

  50% {
    background-position: 100% center;
  }

  100% {
    background-position: 0% center;
  }
}

.font-size a svg {
  font-size: 28px;
}

.neon-text {
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  animation: glow 1.5s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #ff005e, 0 0 10px #ff005e, 0 0 20px #ff005e, 0 0 40px #ff005e, 0 0 80px #ff005e;
  }

  100% {
    text-shadow: 0 0 10px #00d4ff, 0 0 20px #00d4ff, 0 0 40px #00d4ff, 0 0 80px #00d4ff, 0 0 160px #00d4ff;
  }
}

.project-card {
  width: 300px;
  /* card width */
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 100%;
  height: 200px;
  /* set a fixed height */
  object-fit: cover;
  /* crop the image to fit nicely */
}

aside.w-72 {
  width: 19rem;
}

/* Hide scrollbar for all browsers */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbar-none {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.custom-css {
  top: 0;
  right: 0;
}

.custom-css .rounded-full {
  border-radius: 0px 20px;
}